@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #353535;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
